# Stem separation
demucs>=4.0.1
torch>=2.0.0
torchaudio>=2.0.0

# Audio I/O and processing
sounddevice>=0.4.6
soundfile>=0.12.1
numpy>=1.26.0
librosa>=0.10.1
scipy>=1.11.0
pyrubberband>=0.3.0
mutagen>=1.47.0

# UI
PySide6>=6.6.0

# Packaging
pyinstaller>=6.0.0
